@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@keyframes rock{
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

body {
    font-family:'Irish Grover', cursive;
    /* font-size:12pt; */
    width:96%;
	margin-top: 5%;
    margin:2%;
    
 	
 	background-repeat:no-repeat;
 	background-position:fill;
}
footer p{
    
    clear:both;
    background-color: black; 
    border: 15px rgb(220, 20, 60) groove;
    color:white; 
    text-align:center;
}
 
 
#headerlogo{
    /* width: 96%;
    height: 60px;
    padding: 2%;
    background-color: rgb(26, 128, 0);
    border: 15px rgb(220, 20, 60) groove;
    margin:auto;
    text-align: center; */
    background-image: url('../media/circus.png');
    background-repeat:no-repeat; 
    background-size:contain; 
    background-attachment:scroll;
}
aside{
	color:darkblue;
	background-color:aqua;
	border:solid black 2px;
	padding:10px;
	position:absolute;
	top:50px;
}
section{
	background-image: url('../media/ystar.png'); background-repeat:no-repeat; background-size: cover; background-attachment: fixed;
    /* background-color: rgba(220, 20, 60, 0.726); */
    border:15px rgb(0, 0, 0) groove;
	width:225px;
	height:200px;
	flex: 1;
    overflow: auto;
	margin: 25px;;
	padding:25px;
	text-align:center;
}
section:hover{
    animation: rock 3s
}
article{
    display: flex;
    height:500px;
    overflow:auto;
    flex-wrap:wrap;
    align-items:center;
    
}

h1 {
    text-align:center; 
    font-size:5em;
    font-family:'Irish Grover', cursive;
    color:white;
    text-shadow:5px 5px black;
    
}
h2 {
    font-family:'Irish Grover', cursive;
    color:white;
    font-size: 2.5em;
    text-align:center;
    text-shadow:3px 3px black;
}
h3{
    font-family:'Irish Grover', cursive;
    color: black;
    text-align: center;
    font: size 4em;
}
a:link {
    
    color:black; 
    text-decoration: underline; 
    font-size: 2em;
}
a:active {
    color:black; 
    text-decoration: underline;
}
a:visited {
    color: rgb(26, 128, 0); 
    text-decoration: underline; 
}
a:hover {
    color: white; 
    background-color:black; 
    text-decoration: none; 
    }